<div class = "side-bar-header">
  <div class = "header-name">
    name
  </div>
  <div class = "create-room">
    チャットを作成する
  </div>
</div>

<div class = "rooms">
  <div class = "room">
    <div class = "room-name">
    <a href="#">techroom1</a>
    </div>
  </div>
  <div class = "room">
    <div class = "room-name">
    <a href="#">techroom2</a>
    </div>
  </div>
</div>
